In [1]:
import pandas as pd

# import joblib
# import feather
# import time

In [2]:
movies = pd.read_csv('data/new_data/movies.csv')
ratings = pd.read_csv('data/new_data/ratings.csv')

In [3]:
## This cell is just for understanding purpose

# # merging two seperate dataframes to create a single dataframe

# # ratings = pd.merge(movies, ratings)
# # ratings.head()

In [4]:
## merging two dataframes, and after that,
## dropping unnecessary columns(i.e genres & timestamps)
## In Pandas, axis=1 always means, column wise

ratings = pd.merge(movies, ratings).drop(['genres','timestamp'], axis=1)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [5]:
## Creating a dataframe that looks like pivot table (for shake of easy: just like pivot table in excel)

## index=['userId'] vannale, row index ma 'userID' rahos vanna lai
## columns=['title'] vannale, column  headings ma  movie ko 'title' rahos vanna lai
## values='rating' vannale, values ma chai user le movie lai diyeko 'rating' rahos vanna lai

user_ratings = ratings.pivot_table(index=['userId'], columns=['title'], values='rating')
user_ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## This cell is just for understanding purpose

# # Removing movies which have less than 10 users who rated it and filling remaining NaN values with 0

## dropna(thresh=10,axis=1) --> yesko kaam vaneko,  jun column (i.e movie) ma 10 vanda kam users le rating deko xa.. testo column/movie lai drop gar vaneko.
## fillna(0) ko kaam vaneko column drop gari sake paxi jati column bachxa .. bacheko column ma pani NaN value tw huna saki halxa.. so tyo NaN value lai 0 le replace garni vaneko. 

## NOTE: jati dherai thresh hold values, teti hamro ML model batw movie completely remove huncha, but ML model file ko size less huncha
## So, thresh hold value set garda ekdam preciouse/accurate vayera set garnu parcha (i.e value low/less vayo vani model ma noise badi huncha & value high/more vayo vani pani hamile banayeko model le thuprai movies lai chindaina)

## In pandas, axis=1 vannale, column wise vanne bujnu parcha (i.e ahile dataframe ko column ma movie cha so, movie vanne bujincha)

# # user_ratings = user_ratings.dropna(thresh=10, axis=1).fillna(0)         
# # user_ratings.head()

In [7]:
user_ratings = user_ratings.dropna(thresh=10, axis=1).fillna(0)

user_ratings.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
## This cell is just for Understanding purpose

# # Building our Correlation / Similarity Matrix

## NOTE: pearson correlation method automatically replace 0 rating values by mean rating values, unlike cosine similarity
## so, thats the one reason, pearson correlation method is prefered over cosine similary algorithm

In [9]:
item_similarity_df = user_ratings.corr(method='pearson')

item_similarity_df.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518

In [10]:
## get_similar_movies() vanni chai method ho which accepts movie name ans user rating as parameters

##  get_similar_movies()  method return similar_score i.e similar movies

def get_similar_movies(movie_name,user_rating):
    similar_score = item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    # print(similar_score)
    return similar_score

In [11]:
## Checking if the reommending movies is already watched or not ?

def check_seen(movie, seen_movies):
    for item in seen_movies:
        if item == movie:
            return True

    return False

In [13]:
scifi_lover = [("The Martian (2015)" , 5)]
# scifi_lover = [("The Martian", 5), ("Edge of Tomorrow",4)]

romantic_lover = [("Titanic",5),("Kung Fu Panda",4)]

drama_crime_lover = [("The Shawshank Redemption", 5)]


# # # creating an empty dataframe (i.e similar_movies)
similar_movies = pd.DataFrame()         



for movie,rating in scifi_lover:
    similar_movies = similar_movies._append(get_similar_movies(movie,rating), ignore_index=True)


# for movie,rating in drama_crime_lover:
#     similar_movies = similar_movies._append(get_similar_movies(movie,rating), ignore_index=True)


# for movie,rating in romantic_lover:
#     similar_movies = similar_movies._append(get_similar_movies(movie,rating), ignore_index=True)



similar_movies.head()

title,The Martian (2015),Edge of Tomorrow (2014),Star Wars: Episode VII - The Force Awakens (2015),Mad Max: Fury Road (2015),The Revenant (2015),Deadpool (2016),Snowpiercer (2013),Interstellar (2014),Skyfall (2012),Spotlight (2015),...,"Madness of King George, The (1994)",Get Shorty (1995),Like Water for Chocolate (Como agua para chocolate) (1992),"Jungle Book, The (1994)",Nine Months (1995),Disclosure (1994),"Postman, The (Postino, Il) (1994)",Dances with Wolves (1990),Clear and Present Danger (1994),"Piano, The (1993)"
0,2.5,1.490066,1.46561,1.427528,1.369233,1.322078,1.314034,1.252845,1.211764,1.198502,...,-0.160176,-0.164772,-0.166699,-0.167715,-0.172426,-0.177904,-0.178886,-0.191642,-0.192361,-0.231111

In [14]:
all_recommend = similar_movies.sum().sort_values(ascending=False)

all_recommend.head(20)

title
The Martian (2015)                                   2.500000
Edge of Tomorrow (2014)                              1.490066
Star Wars: Episode VII - The Force Awakens (2015)    1.465610
Mad Max: Fury Road (2015)                            1.427528
The Revenant (2015)                                  1.369233
Deadpool (2016)                                      1.322078
Snowpiercer (2013)                                   1.314034
Interstellar (2014)                                  1.252845
Skyfall (2012)                                       1.211764
Spotlight (2015)                                     1.198502
10 Cloverfield Lane (2016)                           1.193339
Wolf of Wall Street, The (2013)                      1.182536
John Wick (2014)                                     1.139989
Avengers, The (2012)                                 1.138206
Rogue One: A Star Wars Story (2016)                  1.134891
Guardians of the Galaxy (2014)                       1.133990
Grand Budapest Hotel, The (2014)                     1.130807
Ant-Man (2015)                                       1.129888
The Imitation Game (2014)                            1.126500
Kingsman: The Secret Service (2015)                  1.104807
dtype: float64

In [16]:
check_name = ['The Martian (2015)']
# check_name = ['The Martian']
# check_name = ['The Martian', 'Edge of Tomorrow']

# check_name = ['The Shawshank Redemption']

print('\nList of similar movies like',check_name, '\n')


i = 0
for movie, score in all_recommend.items():
    if not check_seen(movie, check_name):
        # print(movie,'\t\t\t\t\t',  score)
        print(movie)

    i = i + 1
    if i >= 36 + len(check_name):
        break

List of similar movies like ['The Martian (2015)']

Edge of Tomorrow (2014)
Star Wars: Episode VII - The Force Awakens (2015)
Mad Max: Fury Road (2015)
The Revenant (2015)
Deadpool (2016)
Snowpiercer (2013)
Interstellar (2014)
Skyfall (2012)
Spotlight (2015)
10 Cloverfield Lane (2016)
Wolf of Wall Street, The (2013)
John Wick (2014)
Avengers, The (2012)
Rogue One: A Star Wars Story (2016)
Guardians of the Galaxy (2014)
Grand Budapest Hotel, The (2014)
Ant-Man (2015)
The Imitation Game (2014)
Kingsman: The Secret Service (2015)
Ex Machina (2015)
Star Trek Beyond (2016)
Moonrise Kingdom (2012)
Fury (2014)
Prometheus (2012)
Inception (2010)
Gravity (2013)
Looper (2012)
The Hateful Eight (2015)
Dark Knight Rises, The (2012)
Life of Pi (2012)
Drive (2011)
Arrival (2016)
Cloud Atlas (2012)
District 9 (2009)
Dredd (2012)
Wolverine, The (2013)